 <% content_for :head do %>
  <meta property="og:url"           content="http://armadillo.digital/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Armadillo Digital: About" />
<meta property="og:description"   content="brand development + innovation agency, helping modern brands create an impact and adapt to the future of storytelling. " />
  <meta property="og:image"         content="http://www.armadillo.digital/assets/AD-4480a22fec76eed65ebccbd017fce34e11c62c0695c24dc3235fbc890c801880.png" />
  <meta property="fb:app_id"        content="1002420269910134" />
  <% end %>

        <div class="nav-container">
            <div>
                <div class="bar bar--sm visible-xs">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-3 col-sm-2">
                                <%= link_to root_path do %>
                                    <%= image_tag('armadillologo.png', class: 'logo logo-dark', alt: 'Armadillo Digital') %>
                                    <% end %>
                            </div>
                            <div class="col-xs-9 col-sm-10 text-right">
                                 <%= link_to "home.", root_path, :class => "btn primary btn--sm"%>
                                    <%= link_to "instagram.", "https://www.instagram.com/armadillodigital/", :class => "btn primary btn--sm"%>
                                         <%= link_to "contact us.", contact_path, :class => "btn primary btn--sm" %>
                            </div>
                        </div>
                    </div>
                </div>
                <nav id="menu1" class="bar bar-1 hidden-xs">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1 col-sm-2 hidden-xs">
                                <div class="bar__module">
                                  
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="bar__module">
                                    <ul class="menu-horizontal text-center">
                                        <li> <a href="#">
                                    </a> </li>
                                    </ul>
                                </div>
                               <div class="bar__module">
                                    <%= link_to "home.", root_path, :class => "btn primary btn--sm"%>
                                    <%= link_to "instagram.", "https://www.instagram.com/armadillodigital/", :class => "btn primary btn--sm"%>
                                         <%= link_to "contact us.", contact_path, :class => "btn primary btn--sm" %>
                                        
                                </div>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="main-container">
            <section class="text-center space--xs bg--primary ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-md-8">
                            <h1>About</h1>
                            <p class="lead"> The Armadillo Digital team brings a global perspective to innovation in branding.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable feature-large">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6"> 
                       <%= image_tag('ron.jpg', class: 'border--round', alt: 'Ronita Choudhuri') %>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="switchable__text">
                                <div class="text-block">
                                <font color="#333333">  <h2>Ronita Choudhuri</h2> <span>Co-Founder &amp; Director, Creative Strategy</span> </div></font>
                                <p><font color="#333333">Born and raised in the United States, Ronita began her career in New York, working in sales and marketing for MainStay Investments. She earned a Master's in Globalization and Development from the University of Manchester, before returning to New York to work for the United Nations Democracy Fund. Pursuing her interest in digital strategy and marketing, Ronita moved to Delhi in 2015 and began working as a Strategic Advisor to Creatnet Services. Ronita is a core member of the local NGO Manzil and has a passion for identifying sources of creative talent in India. As Co-Founder and Director of Creative Strategy at Armadillo Digital, Ronita uses her love of art, innovation, and human behavior to raise the bar on design and communications in India.</p></font>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable feature-large switchable--switch bg--dark">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6"> 
                       <%= image_tag('jwade.jpg', class: 'border--round', alt: 'Jeremy Wade') %>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="switchable__text">
                                <div class="text-block">
                                    <h2><font color="#ecf0f1">Jeremy Wade</h2>
                                        <span>Co-Founder &amp; Director, Digital Strategy</span></font> </div>
                                <p><font color="#ecf0f1"> Originally from the United States, Jeremy began his career working with the U.S. Department of Treasury. After moving to India, he founded the Jindal Centre for Social Innovation + Entrepreneurship in 2014 and co-created the FutureLearn Social Enterprise Program, taken by over 8,000 students in 159 countries. An avid speaker on social entrepreneurship and technology in emerging economies, Jeremy is passionate about cryptocurrencies and inclusive financial systems. As Co-Founder and Digital Strategy Director of Armadillo Digital, Jeremy is able to create a global network around elevated design and innovative branding. </p></font>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
                        <footer class="footer-7 text-center-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6"> <span class="type--fine-print">© 2018 <span class="2017"></span> Armadigi Design Private Limited — All Rights Reserved</span>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </body>

</html>
 <script> mixpanel.track("About");</script>           
