 <% content_for :head do %>
  <meta property="og:url"           content="http://armadillo.digital/about" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Armadillo Digital" />
<meta property="og:description"   content="A global design and technology agency specialising in the art of experience." />
  <meta property="og:image"         content="http://www.armadillo.digital/assets/AD-4480a22fec76eed65ebccbd017fce34e11c62c0695c24dc3235fbc890c801880.png" />
  <meta property="fb:app_id"        content="1002420269910134" />
  <% end %>

       <div class="nav-container">
            <nav>
                <div class="nav-bar" data-fixed-at="700">
                    <div class="nav-module logo-module left">
                        <%= link_to root_path do %>
                                    <%= image_tag('adlogo.png', class: 'logo logo-dark', alt: 'Armadillo') %>
                                <% end %>
                       
                    </div>
                    <div class="nav-module menu-module left">
                        <ul class="menu">
                            <li>
                            <%= link_to "agency", about_path%>
                            </li>
                            <li>
                              <%= link_to "free branding worksheet", brandworksheet_path%>
                            </li>
                            <li>
                            <%= link_to "instagram", "https://www.instagram.com/armadillodigital/", target: "blank"%>
                            </li>
                            <li>
                            <%= link_to "reach out", contact_path%>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                   <div class="visible-sm visible-xs">
                <div class="col-sm-12 columns text-center">
                            <ul class="menu1">
                                   <li>
                            <%= link_to "agency", about_path%>
                            </li>
                            <li>
                              <%= link_to "free branding worksheet", brandworksheet_path%>
                            </li>
                            <li>
                            <%= link_to "instagram", "https://www.instagram.com/armadillodigital/", target: "blank"%>
                            </li>
                            <li>
                            <%= link_to "reach out", contact_path%>
                            </li>
                                
                            
                                            </ul>   
                                        </div>
                                          </div>
                                
                                </div>

            </nav> 
        
        </div>
        
        <div class="main-container">
        <section class="imagebg height-60" data-overlay="8">
                        <div class="background-image-holder">
                    <%= image_tag('bold.jpg', class: 'background-image-holder', alt: 'Move Ahead') %>

                        </div>
                        <div class="container pos-vertical-center">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <h1>We work with ambitious people and brands.</h1>
                                    <p class="lead">Anything but ordinary.</p>
                                </div>
                            </div>
                            
                        </div>
                        
                    </section>
                    <section class="bg--secondary">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    
                                    <h3>People First.</h3>
                                    <p class="lead">Innovation doesn't happen in isolation. It is done best when it is paired with research, strategy, belief and passion. We use significant market research, user data, observation, cultural understanding and the advice of experts in relevant fields to bring you the best ideas tailored for your audience. <br>So that ideas work, and stick.</p>
                                </div>
                            </div>
                            
                        </div>
                        
                    </section>
                    <section class="bg--gradient">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="boxed bg--white">
                                        <span class="h2"></span>
                                        <h5>Strategy</h5>
                                        <p>
                                            Brand Experience<br>Content Strategy<br>Customer Journey Map<br>User Research &amp; Focus Groups&nbsp;<br>Digital Strategy</p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="boxed bg--white">
                                        <span class="h2"></span>
                                        <h5>Design</h5>
                                        <p>
                                            Branding &amp; Identity<br>Creative Concepts &amp; Ideas<br>User Experience<br>Web &amp; Mobile UI<br>Wireframing &amp; Prototyping</p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="boxed bg--white">
                                        <span class="h2"></span>
                                        <h5>Development</h5>
                                        <p>
                                            Creative Front &amp; Back End<br>E-Commerce<br>Responsive Development<br>Websites &amp; Web Applications<br>Technical Consulting</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        </section>
                          <section class="bg--secondary">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="elements--title">
                                        <h2>Our Team</h2>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <a href="#">
                                        <div class="card card-3">
                                            <div class="card__image">
                                        <%= image_tag('ron.jpg', class: 'card__image', alt: 'Ronita') %>
                                            </div>
                                            <div class="card__body boxed bg--white">
                                                <div class="card__title">
                                                    <h5>Ronita Choudhuri</h5>
                                                </div>
                                                <span>
                                                    <p>Co-Founder, Director of Creative Strategy</p>
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <a href="#">
                                        <div class="card card-3">
                                            <div class="card__image">
                                <%= image_tag('jwade.jpg', class: 'card__image', alt: 'Jeremy') %>

                                            </div>
                                            <div class="card__body boxed bg--white">
                                                <div class="card__title">
                                                    <h5>Jeremy Wade</h5>
                                                </div>
                                                <span>
                                                    <p>Co-Founder, Chief Technology Officer</p>
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>  
                    </section> 
                        
                    <section class="features features-10">
                        <div class="feature bg--dark col-md-4 text-center">
                            <h4>Office</h4>
                            <p>Safdarjung Enclave, New Delhi India</p>
                        </div>
                        <div class="feature bg--black col-md-4 text-center">
                            <%= link_to "#" do %>
                            <% end %>
                            <h4>Give us a call</h4>
                            <p>+91 728 909 5214</p>
                        </div>
                        <div class="feature bg--dark col-md-4 text-center">
                            <h4>Connect online</h4>
                            <p>
                                Email:
                                hello@armadillo.digital
                        </div>
                    </section>  
        <footer class="footer-3 bg--white text-center-xs">
            <div class="col-sm-3">
               <%= link_to root_path do %>
                <%= image_tag('adlogo.png', class: 'logo logo-dark', alt: 'Armadillo') %>
            <% end %>
                <span>+91 728 909 5214</span><br>hello@armadillo.digital
            </div>
            <div class="col-sm-6 text-center">
                <ul class="footer__navigation">
                        <li>
                            <%= link_to "agency", about_path%>
                            </li>
                            <li>
                              <%= link_to "free branding worksheet", brandworksheet_path%>
                            </li>
                            <li>
                            <%= link_to "instagram", "https://www.instagram.com/armadillodigital/"%>
                            </li>
                            <li>
                            <%= link_to "reach out", contact_path%>
                            </li>
                </ul>
            </div>
            <div class="col-sm-3 text-right text-center-xs">
                <span class="type--fine-print">© Copyright <span class="update-year">2018</span> Armadigi Design Private Limited&nbsp;<br>All Rights Reserved</span>
            </div>
        </footer>
        </div>
        
    </body>

</html>
 <script> mixpanel.track("About");</script>           
