
 <% content_for :head do %>
  <meta property="og:url"           content="http://armadillo.digital/brandworksheet" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Armadillo Digital: free branding worksheet." />
  <meta property="og:description"   content="Check out this free branding worksheet to help define your brand." />
  <meta property="og:image"         content="<%=asset_url('admeta.png') %>" />
  <meta property="fb:app_id"        content="1002420269910134" />
  <% end %>
         <div class="nav-container">
            <nav>
                <div class="nav-bar" data-fixed-at="700">
                    <div class="nav-module logo-module left">
                        <%= link_to root_path do %>
                                    <%= image_tag('adlogo.png', class: 'logo logo-dark', alt: 'Armadillo') %>
                                <% end %>
                       
                    </div>
                    <div class="nav-module menu-module left">
                        <ul class="menu">
                            <li>
                            <%= link_to "agency", about_path%>
                            </li>
                            <li>
                              <%= link_to "free branding worksheet", brandworksheet_path%>
                            </li>
                            <li>
                            <%= link_to "instagram", "https://www.instagram.com/armadillodigital/", target: "blank"%>
                            <li>
                            <%= link_to "reach out", contact_path%>
                            </li>
                            <li>
                            <%= link_to "blog", "https://medium.com/armadillo-digital/", target: "blank"%>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                   <div class="visible-sm visible-xs">
                <div class="col-sm-12 columns text-center">
                            <ul class="menu1">
                                   <li>
                            <%= link_to "agency", about_path%>
                            </li>
                            <li>
                              <%= link_to "free branding worksheet", brandworksheet_path%>
                            </li>
                            <li>
                            <%= link_to "instagram", "https://www.instagram.com/armadillodigital/", target: "blank"%>
                            </li>
                            <li>
                            <%= link_to "reach out", contact_path%>
                            </li>
                            <li>
                            <%= link_to "blog", "https://medium.com/armadillo-digital/", target: "blank"%>
                            </li>
                                
                            
                                            </ul>   
                                        </div>
                                          </div>
                                
                                </div>

            </nav> 

     <div class="main-container">
  <html> <head> <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> <title>Branding Worksheet</title> <style type="text/css"> html{ margin: 0; height: 100%; overflow: hidden; } iframe{ position: absolute; left:0; right:0; bottom:0; top:0; border:0; } </style> </head> <body> <iframe id="typeform-full" width="100%" height="100%" frameborder="0" src="https://jsie.typeform.com/to/wP0A0k"></iframe> <script type="text/javascript" src="https://embed.typeform.com/embed.js"></script> </body> </html>
 <script> mixpanel.track("Brand Worksheet");</script>           

