<% content_for :head do %>
  <meta property="og:url"           content="http://armadillo.digital/content" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Armadillo Digital" />
<meta property="og:description"   content="A global design and technology agency specialising in the art of experience." />
  <meta property="og:image"         content="http://www.armadillo.digital/assets/AD-4480a22fec76eed65ebccbd017fce34e11c62c0695c24dc3235fbc890c801880.png" />
  <meta property="fb:app_id"        content="1002420269910134" />
  <% end %>
  <nav>
                <div class="nav-bar" data-fixed-at="700">
                    <div class="nav-module logo-module left">
                        <%= link_to root_path do %>
                                    <%= image_tag('adlogo.png', class: 'logo logo-dark', alt: 'Armadillo') %>
                                <% end %>
                       
                    </div>
                    <div class="nav-module menu-module left">
                        <ul class="menu">
                            <li>
                            <%= link_to "agency", about_path%>
                            </li>
                            <li>
                              <%= link_to "free branding worksheet", brandworksheet_path%>
                            </li>
                            <li>
                            <%= link_to "instagram", "https://www.instagram.com/armadillodigital/", target: "blank"%>
                            </li>
                            <li>
                            <%= link_to "reach out", contact_path%>
                            </li>
                            <li>
                            <%= link_to "blog", "https://medium.com/armadillo-digital/", target: "blank"%>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                   <div class="visible-sm visible-xs">
                <div class="col-sm-12 columns text-center">
                            <ul class="menu1">
                                   <li>
                            <%= link_to "agency", about_path%>
                            </li>
                            <li>
                              <%= link_to "free branding worksheet", brandworksheet_path%>
                            </li>
                            <li>
                            <%= link_to "instagram", "https://www.instagram.com/armadillodigital/", target: "blank"%>
                            </li>
                            <li>
                            <%= link_to "reach out", contact_path%>
                            </li>
                            <li>
                            <%= link_to "blog", "https://medium.com/armadillo-digital/", target: "blank"%>
                            </li>

                                
                            
                            </ul>   
                            </div>
                            </div>
                            </div>
            </nav>      
        </div>

        <div class="main-container">
            <section class="imagebg height-60" data-overlay="4">
                    <%= image_tag('mountain.png', class: 'background-image-holder', alt: 'Armadillo') %>

                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-8 col-md-7">

                            <h1>
                    Your Voice, Our Words
					</h1>
                            <p class="lead">Content writing that moves people forward.
				</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="imageblock switchable height-100 switchable--switch">
                <div class="imageblock__content col-md-6 col-sm-4 pos-right">
                     <%= image_tag('plane.jpg', class: 'background-image-holder', alt: 'Armadillo') %>
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-5 col-sm-7">
              
                            <h2>Put your brand's best foot forward.</h2>
                            <p class="lead">Content writing is engaging text written for the commercial sphere. Boiled down to its simplest form, it is the words brands use to try to sell their products or services.<br><br>It's everywhere- from the blogs you frequent, marketing campaigns, labels on products, to roadside billboards.<br><br>All content writing seeks to answer the question, "why should I choose what you're offering?"
                        </div>
                    </div>
                </div>
            </section>
            <section class="imagebg height-80" data-overlay="4">
        <%= image_tag('forest.png', class: 'background-image-holder', alt: 'Armadillo') %>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Why you should care.</h2>
                            <p class="lead">Content marketing gets three times more leads than paid search advertising. (Content Marketing Institute, 2017)<br><br> Companies that published 16+ blog posts per month got about 4.5 times more leads than companies that published zero to four monthly posts. (HubSpot, 2015)  <br><br> 96% of B2B buyers want content with more input from industry thought leaders. (Demand Gen Report, 2016)<br><br>43% of B2B marketers say blogging is their most important type of content. (Social Marketing Industry Report, 2017)  <br><br> </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Need to freshen up your website content?</h3>
                            <p><b>Get a complete reevaluation and rework of all preexisting website content for [up to 2500 words]<br>Rs. 15,000 (+GST) <b><br></p>
                                <br>
                                <h3>Reach Out to Us Today</h3>
                          <p>For customizable, high quality brand or copy writing tailored to your needs.</p>
                        </div>
                    </div>
                </div>
            </section>
                    <section class="features features-10">
                        <div class="feature bg--dark col-md-4 text-center">
                            <h4>Office</h4>
                            <p>Safdarjung Enclave, New Delhi India</p>
                        </div>
                        <div class="feature bg--black col-md-4 text-center">
                            <%= link_to "#" do %>
                            <% end %>
                            <h4>Give us a call</h4>
                            <p>+91 98701 34557</p>
                        </div>
                        <div class="feature bg--dark col-md-4 text-center">
                            <h4>Connect online</h4>
                            <p>
                                Email:
                                hello@armadillo.digital
                                
                        </div>
                    </section>  
                     <footer class="footer-3 bg--white text-center-xs">
            <div class="col-sm-3">
               <%= link_to root_path do %>
                <%= image_tag('adlogo.png', class: 'logo logo-dark', alt: 'Armadillo') %>
            <% end %>
                <span>+91 72890 95214</span><br>hello@armadillo.digital
            </div>
            <div class="col-sm-6 text-center">
                <ul class="footer__navigation">
                        <li>
                            <%= link_to "agency", about_path%>
                            </li>
                            <li>
                              <%= link_to "free branding worksheet", brandworksheet_path%>
                            </li>
                            <li>
                            <%= link_to "instagram", "https://www.instagram.com/armadillodigital/"%>
                            </li>
                            <li>
                            <%= link_to "reach out", contact_path%>
                            </li>
                            <li>
                            <%= link_to "blog", "https://medium.com/armadillo-digital/", target: "blank"%>
                            </li>
                </ul>
            </div>
            <div class="col-sm-3 text-right text-center-xs">
                <span class="type--fine-print">© Copyright <span class="update-year">2018</span> Armadigi Design Private Limited&nbsp;<br>All Rights Reserved</span>
            </div>
        </footer>
                </div>
        
</html>
 <script> mixpanel.track("Landing Page");</script>           
