 <% content_for :head do %>
  <meta property="og:url"           content="http://armadillo.digital/contact" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Armadillo Digital: contact us." />
<meta property="og:description"   content="brand development + innovation agency, helping modern brands create an impact and adapt to the future of storytelling. " />
  <meta property="og:image"         content="http://www.armadillo.digital/assets/AD-4480a22fec76eed65ebccbd017fce34e11c62c0695c24dc3235fbc890c801880.png" />
  <meta property="fb:app_id"        content="1002420269910134" />
  <% end %>
         <div class="nav-container">
            <nav>
                <div class="nav-bar" data-fixed-at="700">
                    <div class="nav-module logo-module left">
                        <%= link_to root_path do %>
                                    <%= image_tag('adlogo.png', class: 'logo logo-dark', alt: 'Armadillo') %>
                                <% end %>
                       
                    </div>
                    <div class="nav-module menu-module left">
                        <ul class="menu">
                            <li>
                            <%= link_to "agency", about_path%>
                            </li>
                            <li>
                              <%= link_to "free banding worksheet", brandworksheet_path%>
                            </li>
                            <li>
                            <%= link_to "instagram", "https://www.instagram.com/armadillodigital/", target: "blank"%>
                            </li>
                            <li>
                            <%= link_to "reach out", contact_path%>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                   <div class="visible-sm visible-xs">
                <div class="col-sm-12 columns text-center">
                            <ul class="menu1">
                                   <li>
                            <%= link_to "agency", about_path%>
                            </li>
                            <li>
                              <%= link_to "free branding worksheet", brandworksheet_path%>
                            </li>
                            <li>
                            <%= link_to "instagram", "https://www.instagram.com/armadillodigital/", target: "blank"%>
                            </li>
                            <li>
                            <%= link_to "reach out", contact_path%>
                            </li>
                                
                            
                                            </ul>   
                                        </div>
                                          </div>
                                
                                </div>

            </nav> 
        

        <div class="main-container">

<div class="typeform-widget" data-url="https://jsie.typeform.com/to/uBJ7g6" data-transparency="50" data-hide-headers=true data-hide-footer=true style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>