        <div class="nav-container">
            <div>
                <div class="bar bar--sm visible-xs">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-3 col-sm-2">
                                <%= link_to root_path do %>
                                    <%= image_tag('armadillo11.png', class: 'logo logo-dark', alt: 'Armadillo Digital') %>
                                    <% end %>
                            </div>
                            <div class="col-xs-9 col-sm-10 text-right">
                                <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm"> <i class="icon icon--sm stack-interface stack-menu"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <nav id="menu1" class="bar bar-1 hidden-xs">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1 col-sm-2 hidden-xs">
                                <div class="bar__module">
                                    <%= link_to root_path do %>
                                    <%= image_tag('armadillo11.png', class: 'logo logo-dark', alt: 'Armadillo Digital') %>
                                    <% end %>
                                </div>
                            </div>
                            <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
                                <div class="bar__module">
                                    <ul class="menu-horizontal text-left">
                                        <li> <a href="#">
                                    </a> </li>
                                    </ul>
                                </div>
                                <div class="bar__module">
                                    <%= link_to "About", "https://www.instagram.com/armadillodigital/", :class => "btn btn--sm type--uppercase"%>
                                    <%= link_to "https://armadillodigital.typeform.com/to/Avwg5m", :class => "btn btn--sm type--uppercase" do %>
                                        Contact Us
                                        <span class="btn__text"></span>
                                        <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="main-container">
            <section class="space--xxs">
                <div class="container">
                    <div class="row">
                        <div class="masonry">
                            <div class="masonry__container masonry--active">
                                <div class="masonry__item col-sm-6 text-center filter-print" data-masonry-filter="Print">
                                    <div class="project-thumb">
                                        <%= image_tag('paper.jpg', class: 'border--round', alt: 'Intro') %>
                                        <h4>brand guide.</h4> <span>visual DNA for brands.</span> </div>
                                </div>
                                <div class="masonry__item col-sm-6 text-center filter-print" data-masonry-filter="Print">
                                    <div class="project-thumb">
                                        <%= image_tag('penboat.jpg', class: 'border--round', alt: 'Intro') %>
                                        <h4>copywriting.</h4> <span>writing for the world.</span> </div>
                                </div>
                                <div class="masonry__item col-sm-6 text-center filter-print" data-masonry-filter="Print">
                                    <div class="project-thumb">
                                        <%= image_tag('stairs.jpg', class: 'border--round', alt: 'Intro') %>
                                        <h4>brand identity.</h4> <span>naming, research + positioning.</span> </div>
                                </div>
                                <div class="masonry__item col-sm-6 text-center filter-print" data-masonry-filter="Print">
                                    <div class="project-thumb">
                                        <%= image_tag('ocean.jpg', class: 'border--round', alt: 'Intro') %>
                                        <h4>creative strategy.</h4> <span>inspiration, mood + element.</span> </div>
                                </div>
                                <div class="masonry__item col-sm-6 text-center filter-print" data-masonry-filter="Print">
                                    <div class="project-thumb">
                                        <%= image_tag('blueview.jpg', class: 'border--round', alt: 'Intro') %>
                                        <h4>website.</h4> <span>full-stack development, creative + visual.</span> </div>
                                </div>
                                <div class="masonry__item col-sm-6 text-center filter-print" data-masonry-filter="Print">
                                    <div class="project-thumb">
                                        <%= image_tag('machine.jpg', class: 'border--round', alt: 'Intro') %>
                                        <h4>digital design.</h4> <span>experience, subscription + chatbot.</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable feature-large space--xxs bg--dark switchable--switch text-right">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6"> 
                              <%= image_tag('ron.jpg', class: 'border--round', alt: 'Intro') %> </div>
                        <div class="col-sm-6 col-md-5">
                            <div class="switchable__text">
                                <div class="text-block">
                                    <h2>Ronita Choudhuri</h2> <span>Cofounder</span> </div>
                                <p class="lead"> Director, Creative + Design </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable feature-large space--xxs">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6"> 
                            <%= image_tag('jwade.jpg', class: 'border--round', alt: 'Intro') %> </div>
                        <div class="col-sm-6 col-md-5">
                            <div class="switchable__text">
                                <div class="text-block">
                                    <h2>Jeremy Wade</h2> <span>Cofounder</span> </div>
                                <p class="lead"> Director, Tech + Design </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
               <section class="imagebg space--xs" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                                <div class="col-md-12 text-center">
                                    <%= link_to "Contact Us", "https://armadillodigital.typeform.com/to/Avwg5m", :class => "btn btn--sm type--uppercase"%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer-7 text-center-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6"> <span class="type--fine-print">© 2017 <span class="2017"></span> Armadillo Digital — All Rights Reserved</span>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </body>

</html>