        <div class="main-container">
            <section class="space--xxs">
                <div class="container">
                    <div class="row">
                        <div class="masonry">
                            <div class="masonry__container masonry--active">
                                <div class="masonry__item col-sm-6 text-center filter-print" data-masonry-filter="Print">
                                    <div class="project-thumb">
                                        <%= image_tag('paper.jpg', class: 'border--round', alt: 'Intro') %>
                                        <h4>brand guide.</h4> <span>visual DNA for brands.</span> </div>
                                </div>
                                <div class="masonry__item col-sm-6 text-center filter-print" data-masonry-filter="Print">
                                    <div class="project-thumb">
                                        <%= image_tag('penboat.jpg', class: 'border--round', alt: 'Intro') %>
                                        <h4>copywriting.</h4> <span>writing for the world.</span> </div>
                                </div>
                                <div class="masonry__item col-sm-6 text-center filter-print" data-masonry-filter="Print">
                                    <div class="project-thumb">
                                        <%= image_tag('stairs.jpg', class: 'border--round', alt: 'Intro') %>
                                        <h4>brand identity.</h4> <span>naming, research + positioning.</span> </div>
                                </div>
                                <div class="masonry__item col-sm-6 text-center filter-print" data-masonry-filter="Print">
                                    <div class="project-thumb">
                                        <%= image_tag('ocean.jpg', class: 'border--round', alt: 'Intro') %>
                                        <h4>creative strategy.</h4> <span>inspiration, mood + element.</span> </div>
                                </div>
                                <div class="masonry__item col-sm-6 text-center filter-print" data-masonry-filter="Print">
                                    <div class="project-thumb">
                                        <%= image_tag('blueview.jpg', class: 'border--round', alt: 'Intro') %>
                                        <h4>website.</h4> <span>full-stack development, creative + visual.</span> </div>
                                </div>
                                <div class="masonry__item col-sm-6 text-center filter-print" data-masonry-filter="Print">
                                    <div class="project-thumb">
                                        <%= image_tag('machine.jpg', class: 'border--round', alt: 'Intro') %>
                                        <h4>digital design.</h4> <span>experience, subscription + chatbot.</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
                   <section class="bg--dark">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="feature feature-2 boxed boxed--border"> 
                               <i class="icon color--primary icon-Alien"></i>
                                <div class="feature__body">
                                    <p>Jeremy.<br>CoFounder, Director - Tech.<br>jeremy@armadillo.digital</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-2 boxed boxed--border"> 
                                <i class="icon color--primary icon-Alien"></i>
                                <div class="feature__body">
                                    <p>Ronita.<br>CoFounder, Director - Design.<br>ronita@armadillo.digital</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-2 boxed boxed--border"> <i class="icon icon-Life-Jacket color--primary"></i>
                                <div class="feature__body">
                                    <p>Puja.<br>Executive Assistant.<br>puja@armadillo.digital</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer-7 text-center-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6"> <span class="type--fine-print">© 2017 <span class="2017"></span> Armadillo Digital — All Rights Reserved</span>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                          <ul class="social-list list-inline">
                                <li>    
                                <%= link_to "<i class=\"socicon socicon-facebook icon icon--xs\"></i>".html_safe, "https://twitter.com/jsiein"-%></li>
                                <li><a href="#"><i class="socicon socicon-facebook icon icon--xs"></i></a></li>
                                <li><a href="#"><i class="socicon socicon-instagram icon icon--xs"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </body>

</html>