 <% content_for :head do %>
  <meta property="og:url"           content="http://armadillo.digital/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Armadillo Digital" />
<meta property="og:description"   content="A global design and technology agency specialising in the art of experience." />
  <meta property="og:image"         content="http://www.armadillo.digital/assets/AD-4480a22fec76eed65ebccbd017fce34e11c62c0695c24dc3235fbc890c801880.png" />
  <meta property="fb:app_id"        content="1002420269910134" />
  <% end %>
<div class="nav-container">
            <nav>
                <div class="nav-bar" data-fixed-at="700">
                    <div class="nav-module logo-module left">
                        <%= link_to root_path do %>
                                    <%= image_tag('adlogo.png', class: 'logo logo-dark', alt: 'Armadillo') %>
                                <% end %>
                       
                    </div>
                    <div class="nav-module menu-module left">
                        <ul class="menu">
                            <li>
                            <%= link_to "agency", about_path%>
                            </li>
                            <li>
                              <%= link_to "free branding worksheet", brandworksheet_path%>
                            </li>
                            <li>
                            <%= link_to "instagram", "https://www.instagram.com/armadillodigital/", target: "blank"%>
                            </li>
                            <li>
                            <%= link_to "reach out", contact_path%>
                            </li>
                            <li>
                            <%= link_to "blog", "https://medium.com/armadillo-digital/", target: "blank"%>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                   <div class="visible-sm visible-xs">
                <div class="col-sm-12 columns text-center">
                            <ul class="menu1">
                                   <li>
                            <%= link_to "agency", about_path%>
                            </li>
                            <li>
                              <%= link_to "free branding worksheet", brandworksheet_path%>
                            </li>
                            <li>
                            <%= link_to "instagram", "https://www.instagram.com/armadillodigital/", target: "blank"%>
                            </li>
                            <li>
                            <%= link_to "reach out", contact_path%>
                            </li>
                            <li>
                            <%= link_to "blog", "https://medium.com/armadillo-digital/", target: "blank"%>
                            </li>

                                
                            
                                            </ul>   
                                        </div>
                                          </div>
                                
                                </div>

            </nav> 
        
        </div>
        
        <div class="main-container">
<section class="hero-divider">
<%= video_tag("lights.mp4", class: 'video-wrapper', autoplay: true, loop: true) %>
<div class="col-md-8 col-md-offset-1 col-sm-10 col-sm-offset-2">
 <h1>Strategic Partner. <br> Unparalleled Creativity. </h1>
</div>
</div>
</section>
<div class="visible-xs">
<section class="hero-divider1">
<%= video_tag("lights.mp4", class: 'video-wrapper', autoplay: true, loop: true) %>
<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
 <h1>Strategic Partner. <br> Unparalleled Creativity. </h1>
</div>
</div>

  </div>
</section>
</div>
               <section class="bg--secondary">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <h3>The Human Experience.</h3>
                                    <p class="lead">We believe in a design-led transformation of the human experience.  <br>We aim to be able to see our world but reinvent ways of looking at it.&nbsp;</p>
                                </div>
                            </div>
                            
                        </div>
                         </section>
        <section class="imagebg height-90" data-overlay="6">
                        <div class="background-image-holder">
                            <%= image_tag('hero23.jpg', class: 'background-image-holder', alt: 'hero6') %>
                        </div>
                        <div class="container pos-vertical-center">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                     <h3>Immersive Content.</h3>
                                    <p class="lead">Web VR<br>Augmented Reality<br>360 Degree Media</p>
                                </div>
                            </div>
                            
                        </div>
                        
                    </section>
     
                        <section class="bg--secondary">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="elements--title">
                    
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="card card-1">
                                        <div class="card__image">
                                    <%= image_tag('small2.jpg', class: 'card-image', alt: 'hero4') %>
                                        </div>
                                        <div class="card__body boxed bg--dark">
                                            <div class="card__title">
                                                <h5>Research &amp; Data</h5>
                                            </div>
                                            
                                            <p>
                                                We make sure to understand your end user. What drives them? What cultural context do they live in? We use market research to bring clarity on the vision.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="card card-1">
                                        <div class="card__image">
                                    <%= image_tag('small1.jpg', class: 'card-image', alt: 'hero4') %>
                                        </div>
                                        <div class="card__body boxed bg--dark">
                                            <div class="card__title">
                                                <h5>Ideation</h5>
                                            </div>
                                            
                                            <p>
                                                We use our market research and data and combine it with where you want to go. In that space is where new ideas form to give an experience unlike any other.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="card card-1">
                                    <div class="card__image">
                                    <%= image_tag('small3.jpg', class: 'card-image', alt: 'hero4') %>
                                          </div>
                                        <div class="card__body boxed bg--dark">
                                            <div class="card__title">
                                                <h5>Delivered</h5>
                                            </div>
                                            
                                            <p>
                                                On time. High quality. We execute so you can get back to doing what you do best. 
                                            </p>
                                </div>
                            </div>
                        </div>
                        </div>
                        </section>

                    
                    <section class="bg--dark section--even">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-10">
                                    <h6>CREATIVE DIGITAL PROJECTS.</h6>
                                    <p class="lead">
                                        We are a global design and technology agency specialising in the art of experience. We create category leading brand experiences that have meaning, relevance and deliver extraordinary value.
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </section>
                    <section class="bg--secondary">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <h3>Want to know how far design can take you?</h3>
                                    <p class="lead">Drop us a line.</p>
                                </div>
                            </div>
                            
                        </div>
                         </section>
                    <section class="features features-10">
                        <div class="feature bg--dark col-md-4 text-center">
                            <h4>Office</h4>
                            <p>Safdarjung Enclave, New Delhi India</p>
                        </div>
                        <div class="feature bg--black col-md-4 text-center">
                            <%= link_to "#" do %>
                            <% end %>
                            <h4>Give us a call</h4>
                            <p>+91 728 909 5214</p>
                        </div>
                        <div class="feature bg--dark col-md-4 text-center">
                            <h4>Connect online</h4>
                            <p>
                                Email:
                                hello@armadillo.digital
                                
                        </div>
                    </section>  
                     <footer class="footer-3 bg--white text-center-xs">
            <div class="col-sm-3">
               <%= link_to root_path do %>
                <%= image_tag('adlogo.png', class: 'logo logo-dark', alt: 'Armadillo') %>
            <% end %>
                <span>+91 728 909 5214</span><br>hello@armadillo.digital
            </div>
            <div class="col-sm-6 text-center">
                <ul class="footer__navigation">
                        <li>
                            <%= link_to "agency", about_path%>
                            </li>
                            <li>
                              <%= link_to "free branding worksheet", brandworksheet_path%>
                            </li>
                            <li>
                            <%= link_to "instagram", "https://www.instagram.com/armadillodigital/"%>
                            </li>
                            <li>
                            <%= link_to "reach out", contact_path%>
                            </li>
                            <li>
                            <%= link_to "blog", "https://medium.com/armadillo-digital/", target: "blank"%>
                            </li>
                </ul>
            </div>
            <div class="col-sm-3 text-right text-center-xs">
                <span class="type--fine-print">© Copyright <span class="update-year">2018</span> Armadigi Design Private Limited&nbsp;<br>All Rights Reserved</span>
            </div>
        </footer>
                </div>
        
</html>
 <script> mixpanel.track("Landing Page");</script>           
