 <% content_for :head do %>
  <meta property="og:url"           content="http://armadillo.digital/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Armadillo Digital" />
  <meta property="og:image"         content="<%=asset_url('admeta.png') %>" />
  <meta property="fb:app_id"        content="1002420269910134" />
  <% end %>
        <div class="nav-container">
            <div>
                <div class="bar bar--sm visible-xs">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-3 col-sm-2">
                                <%= link_to root_path do %>
                                    <%= image_tag('armadillologo.png', class: 'logo logo-dark', alt: 'Armadillo Digital') %>
                                    <% end %>
                            </div>
                            <div class="col-xs-9 col-sm-10 text-right">
                                 <%= link_to "about.", about_path, :class => "btn primary btn--sm"%>
                                    <%= link_to "instagram.", "https://www.instagram.com/armadillodigital/", :class => "btn primary btn--sm"%>
                                         <%= link_to "contact us.", contact_path, :class => "btn primary btn--sm" %>
                            </div>
                        </div>
                    </div>
                </div>
                <nav id="menu1" class="bar bar-1 hidden-xs">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1 col-sm-2 hidden-xs">
                                <div class="bar__module">
                                  
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="bar__module">
                                    <ul class="menu-horizontal text-center">
                                        <li> <a href="#">
                                    </a> </li>
                                    </ul>
                                </div>
                               <div class="bar__module">
                                    <%= link_to "about.", about_path, :class => "btn primary btn--sm"%>
                                    <%= link_to "instagram.", "https://www.instagram.com/armadillodigital/", :class => "btn primary btn--sm"%>
                                         <%= link_to "contact us.", contact_path, :class => "btn primary btn--sm" %>
                                        
                                </div>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

<div class="main-container">
<div class="hidden-xs">
<section class="hero-divider">
<%= video_tag("move.mp4", class: 'video-wrapper', autoplay: true, loop: true) %>
<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
<h1>armadillo digital.</h1>
<h2 align="right">moving ideas forward. </h2>
</div>
</div>
</section>
<div class="visible-xs">
<section class="hero-divider1">
<%= video_tag("move.mp4", class: 'video-wrapper', autoplay: true, loop: true) %>
<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
<h1>armadillo digital.</h1>
<h2 align="right">moving ideas forward. </h2>
</div>
</div>

  </div>
</section>
      <section>
                <div class="container visible-xs visible-sm">
                     <div class="row">
                        <div class="col-md-4">
                            <div class="text-block text-center">
                                <h2>what we do.</h2>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="feature feature--featured feature-1 boxed boxed--border">
                                <h4>brand development</h4>
                                <p> visual DNA, positioning, naming and market research.</p>  </div>
                        </div>
                          <div class="col-sm-4">
                            <div class="feature feature--featured feature-1 boxed boxed--border">
                                <h4>web development</h4>
                                <p>full stack web development on Ruby on Rails.</p>  </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature--featured feature-1 boxed boxed--border">
                                <h4>creative strategy</h4>
                                <p>inspiration, mood + element.</p>  </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature--featured feature-1 boxed boxed--border">
                                <h4>copywriting</h4>
                                <p> writing for the world. </p></div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="container hidden-xs hidden-sm">
                        <div class="row">
                        <div class="col-md-4">
                            <div class="text-block">
                                <h2>what we do.</h2>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-block">
                                <h3>brand development</h3>
                                <p>visual DNA, positioning, naming and market research.</p>
                            </div>
                            <div class="text-block">
                                <h3>web development</h3>
                                <p>full stack web development on Ruby on Rails.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-block">
                                <h3>creative strategy</h3>
                                <p> inspiration, mood + element. </p>
                            </div>
                            <div class="text-block">
                                <h3>copywriting</h3>
                                <p> writing for the world. </p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>
            <section class="imageblock switchable height-60 hidden-sm hidden-xs">
                <div class="imageblock__content col-md-6 col-sm-4 pos-right">
                    <div class="background-image-holder">
                    <%= image_tag('trumpet.jpg', class: 'background-image-holder', alt: 'Design + Tech') %> </div>
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-5 col-sm-7">
                            <h2>Developers that design.<br>Designers that develop.</h2>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                            <div class="process-1">
                                <div class="process__item">
                                    <h4>&nbsp;Lots of Passports.</h4>
                                    <p>We don't believe in country borders. With hand-picked individuals working in the US and India, Armadillo Digital is able to bring you a truly global voice to attract an audience that is modern, savvy and looking forward.</p>
                                </div>
                                <div class="process__item">
                                    <h4>Speaking a Common Language.</h4>
                                    <p> We've created a team of designers and developers that can talk to each other. Blending art, technology and design, we are able to bring your ideas to life in the digital space- on the first go.</p>
                                </div>
                                <div class="process__item">
                                    <h4>Market Entry: India</h4>
                                    <p>We'll help you bring your organization to one of the most complex, beautiful and intriguing countries in the world. We have established roots and a depth of cultural and contextual understanding of India- backed with research. Armadillo Digital comes in with the research, questions and open-mindedness to bring you to the newest generation of the&nbsp; world's oldest civilization.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="cover imagebg text-center gradient height-50"">
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-9 col-md-7">
                            <h2> Free Branding Worksheet</h2>
                            <p class="lead">Launching a brand? Our fun worksheet will help you think through your ideas and help clarify your target audience.</p>
                            <%= link_to "Access Now", "http://www.armadillo.digital/brandworksheet", :class => "btn btn--primary type--uppercase"%>
                            </div>
                    </div>
                </div>
            </section>
            <footer class="footer-7 text-center-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6"> <span class="type--fine-print">© 2018 <span class="2017"></span> Armadigi Design Private Limited — All Rights Reserved</span>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </body>

</html>
 <script> mixpanel.track("Landing Page");</script>           
